@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');

.dino-header{
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 9vh
}

.username-label{
    font-family: 'Staatliches', cursive;
    color: white;
    font-size: 4vh
}

.dino-background{
    background-color: #36D96F;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chat-background{
    background-color: #36D96F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submit-btn{
    color: white;
    background-color: #F2784B;
    border-color: #F2784B;
    margin: 2px;
}

input[type=text] {
  border: 2px solid #F2784B;
  border-radius: 4px;
}

#message{
  border: 2px solid #F2784B;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.chat-messages{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    background-color: white;
    width: 100%;
    margin: 3px;
    padding: 3px;
    font-size: 3vh;
    border: 2px solid #F2784B;

}

.hello{
    color: #F2D06B;
    font-size: 5vh;
}

.chat-image{
    height: 25vh;
}