<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chat App</title>
</head>
<body>
    <h1>Welcome to the Flask Chat App</h1>
    <p>To start chatting please add the following to the address bar:</p>
    <ol>
        <li>Add "/" and your USERNAME to the end of the address bar</li>
        <li>Add another "/" plus your message!</li>
        <li>HIT ENTER!!</li>
    </ol>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <button>Go to chat!</button>
    </form>
</body>
</html>